<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Node Sample App</title>
  
  <!-- CSS -->
  <!-- load bootstrap and our own personal stylesheet -->
  <link href="https://maxcdn.bootstrap.com/bootswatch/3.3.6/superhero/bootstrap.min.css" 
    rel="stylesheet" type="text/css"/>
  <link rel="stylesheet" type="text/css" href="css/style.css"/>
</head>
<body>
  <div class="container">
    <div class="jumbotron">
      <h1>This is Heroku Awesome!</h1>
      <p>This is the sample of how to deploy Nodejs based application on Heroku</p>
    </div>
  </div>
</body>
</html>
